/* Add any custom CSS to change the style of the website in this file */

/* Example: change the navigation bar background to orange (this code is documented out) */
/* .navbar-custom {
  background: orange;
}
*/
body {
text-transform: none;
}
page-heading {
    display: none;
}
h1 {
    display: none;
}

.container-fluid {
	padding-right: 80px;
	padding-left: 80px;
}

.lab_logo {
    margin-top: -10px;
    height: 40px;  /* 设置固定高度 */
    width: auto;    /* 宽度根据高度自动调整，保持比例 */
}
